/*! CSS Used from: https://logincdn.msauth.net/16.000/Converged_v21033_-__Cqeow2darz41wUymj4A2.css */
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
body{margin:0;}
a{background-color:transparent;}
a:active,a:hover{outline:0;}
img{border:0;}
input,textarea{color:inherit;font:inherit;margin:0;}
input[type="submit"]{-webkit-appearance:button;cursor:pointer;}
input::-moz-focus-inner{border:0;padding:0;}
input{line-height:normal;}
textarea{overflow:auto;}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
input,textarea{font-family:inherit;font-size:inherit;line-height:inherit;}
a:focus{outline:thin dotted;outline-offset:-2px;outline:5px auto -webkit-focus-ring-color;}
img{vertical-align:middle;}
html{font-size:100%;}
body{font-family:"Segoe UI Webfont",-apple-system,"Helvetica Neue","Lucida Grande","Roboto","Ebrima","Nirmala UI","Gadugi","Segoe Xbox Symbol","Segoe UI Symbol","Meiryo UI","Khmer UI","Tunga","Lao UI","Raavi","Iskoola Pota","Latha","Leelawadee","Microsoft YaHei UI","Microsoft JhengHei UI","Malgun Gothic","Estrangelo Edessa","Microsoft Himalaya","Microsoft New Tai Lue","Microsoft PhagsPa","Microsoft Tai Le","Microsoft Yi Baiti","Mongolian Baiti","MV Boli","Myanmar Text","Cambria Math";font-size:15px;line-height:20px;font-weight:400;font-size:.9375rem;line-height:1.25rem;padding-bottom:.227px;padding-top:.227px;color:#000;background-color:#fff;}
a{color:#ccc;text-decoration:none;}
a:link{color:#0067b8;}
a:visited{color:#0067b8;}
a:hover{color:#666;}
a:focus{color:#0067b8;}
a:active{color:#999;}
.row{margin-left:-2px;margin-right:-2px;}
.row:before,.row:after{content:" ";display:table;}
.row:after{clear:both;}
.col-xs-24,.col-md-24{position:relative;min-height:1px;padding-left:2px;padding-right:2px;}
.col-xs-24{float:left;}
.col-xs-24{width:100%;}
@media (min-width:768px){
.col-md-24{float:left;}
.col-md-24{width:100%;}
}
.form-control{display:block;width:100%;background-image:none;}
input,textarea{max-width:100%;line-height:inherit;}
input[type="password"],input[type="text"],textarea{padding:4px 8px;border-style:solid;border-width:2px;border-color:rgba(0,0,0,.4);background-color:rgba(255,255,255,.4);height:32px;height:2rem;}
input[type="password"]:focus,input[type="text"]:focus,textarea:focus{border-color:#0067b8;background-color:#fff;}
input[type="password"]::-moz-placeholder,input[type="text"]::-moz-placeholder,textarea::-moz-placeholder{color:rgba(0,0,0,.6);opacity:1;}
input[type="password"]:-ms-input-placeholder,input[type="text"]:-ms-input-placeholder,textarea:-ms-input-placeholder{color:rgba(0,0,0,.6);}
input[type="password"]::-webkit-input-placeholder,input[type="text"]::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:rgba(0,0,0,.6);}
textarea{height:auto;}
input::-ms-clear,input::-ms-reveal{height:100%;padding:4px 8px;margin-right:-8px;margin-left:4px;}
input::-ms-clear:hover,input::-ms-reveal:hover{color:#0067b8;}
input::-ms-clear:active,input::-ms-reveal:active{color:#fff;background-color:#0067b8;}
.form-group{margin-bottom:12px;}
::-ms-expand{margin:0 6px 0 20px;background-color:transparent;border:0;}
input[type="submit"]{display:inline-block;min-width:100px;padding:4px 12px 4px 12px;margin-top:4px;margin-bottom:4px;position:relative;max-width:100%;text-align:center;white-space:nowrap;overflow:hidden;vertical-align:middle;text-overflow:ellipsis;touch-action:manipulation;color:#000;border-style:solid;border-width:2px;border-color:transparent;background-color:rgba(0,0,0,.2);}
input[type="submit"]:hover,input[type="submit"]:focus{border-color:rgba(0,0,0,.4);}
input[type="submit"]:hover{cursor:pointer;}
input[type="submit"]:active{background-color:rgba(0,0,0,.4);border-color:transparent;}
a:focus{outline-offset:0;}
body{direction:ltr;}
.text-secondary{color:rgba(0,0,0,.7);font-size:13px;}
body.cb{text-align:center;}
body.cb .text-13{font-size:.8125rem;}
body.cb div.placeholderContainer{width:100%;position:relative;}
.no-padding-left-right{padding-left:0;padding-right:0;}
body.cb{color:#1b1b1b;text-align:left;}
.background-image{-webkit-animation:fadeIn 1s;-moz-animation:fadeIn 1s;-o-animation:fadeIn 1s;animation:fadeIn 1s;}
.background-image-holder{background:#f2f2f2;}
.background-image-holder,.background-image{position:fixed;top:0;width:100%;height:100%;}
.background-image{background-repeat:no-repeat,no-repeat;background-position:center center,center center;background-size:cover,cover;}
.footer{position:absolute;left:0;bottom:0;width:100%;overflow:visible;z-index:99;clear:both;min-height:28px;}
div.footerNode{margin:0;float:right;}
.footer-content.footer-item{color:#000;font-size:12px;line-height:28px;white-space:nowrap;display:inline-block;margin-left:8px;margin-right:8px;}
.footer-content.footer-item.debug-item{text-decoration:none;letter-spacing:3px;line-height:22px;vertical-align:top;font-size:16px;font-weight:600;}
.outer{display:table;position:absolute;height:100%;width:100%;}
.middle{display:table-cell;vertical-align:middle;}
.sign-in-box{margin-left:auto;margin-right:auto;position:relative;max-width:440px;width:calc(100% - 40px);padding:44px;margin-bottom:28px;background-color:#fff;-webkit-box-shadow:0 2px 6px rgba(0,0,0,.2);-moz-box-shadow:0 2px 6px rgba(0,0,0,.2);box-shadow:0 2px 6px rgba(0,0,0,.2);min-width:320px;min-height:338px;overflow:hidden;}
a:hover{text-decoration:underline;}
.template-section{display:table-row;}
.template-section.main-section{height:100%;}
input[type="password"],input[type="text"],textarea{padding:6px 10px;border-width:1px;border-color:#666;border-color:rgba(0,0,0,.6);height:36px;outline:none;border-radius:0;-webkit-border-radius:0;background-color:transparent;}
input[type="password"]:hover,input[type="text"]:hover,textarea:hover{border-color:#323232;border-color:rgba(0,0,0,.8);}
input[type="password"]:focus,input[type="text"]:focus,textarea:focus{border-color:#0067b8;background-color:transparent;}
input[type='submit']{min-height:32px;border:none;background-color:#ccc;background-color:rgba(0,0,0,.2);min-width:108px;line-height:normal;}
input[type="submit"]:hover{background-color:#b2b2b2;background-color:rgba(0,0,0,.3);}
input[type="submit"]:focus{background-color:#b2b2b2;background-color:rgba(0,0,0,.3);text-decoration:underline;outline:2px solid #000;}
input[type="submit"]:active{outline:none;text-decoration:none;-ms-transform:scale(.98);-webkit-transform:scale(.98);transform:scale(.98);}
.button.primary{color:#fff;border-color:#0067b8;background-color:#0067b8;display:block;width:100%;}
.button.primary:hover{background-color:#005da6;}
.button.primary:focus{background-color:#005da6;text-decoration:underline;outline:2px solid #000;}
.button.primary:active{outline:none;text-decoration:none;-ms-transform:scale(.98);-webkit-transform:scale(.98);transform:scale(.98);}
.logo{max-width:256px;height:24px;}
.identityBanner{height:24px;background:#fff;margin-top:16px;margin-bottom:-4px;}
.identity{line-height:24px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.row{margin-left:0;margin-right:0;}
.form-group{margin-bottom:16px;}
input[type='submit']{margin-top:0;margin-bottom:0;}
.moveOffScreen{position:fixed;bottom:0;right:0;height:0!important;width:0!important;overflow:hidden;opacity:0;filter:alpha(opacity=0);}
.position-buttons>div:first-child{display:inline-block;width:100%;margin-bottom:36px;}
.button-container{position:absolute;bottom:0;right:0;text-align:right;}
@media (max-width:600px),(max-height:366px){
.background-image-holder,.background-image{display:none;}
.middle{vertical-align:top;}
.sign-in-box{padding:24px;margin-top:0;margin-bottom:88px;width:100%;width:100vw;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;border:0;}
.footer{background-color:#fff;filter:none;}
div.footerNode{float:left;margin:0 24px!important;}
.footer-content.footer-item{color:#747474;}
}
.inline-block{display:inline-block;}
input[type="password"],input[type="text"],textarea{border-top-width:0;border-left-width:0;border-right-width:0;padding-left:0;}
.input.text-box{padding:4px 8px;border-style:solid;border-width:2px;border-color:rgba(0,0,0,.4);background-color:rgba(255,255,255,.4);height:32px;height:2rem;padding:6px 10px;border-width:1px;border-color:#666;border-color:rgba(0,0,0,.6);height:36px;outline:none;border-radius:0;-webkit-border-radius:0;background-color:transparent;border-top-width:0;border-left-width:0;border-right-width:0;padding-left:0;}
.input.text-box:focus{background-color:#fff;border-color:#0067b8;background-color:transparent;}
.input.text-box:hover{border-color:#323232;border-color:rgba(0,0,0,.8);}
.input.text-box::-moz-placeholder{color:rgba(0,0,0,.6);opacity:1;}
.input.text-box:-ms-input-placeholder{color:rgba(0,0,0,.6);}
.input.text-box::-webkit-input-placeholder{color:rgba(0,0,0,.6);}
.title{margin-bottom:20px;margin-top:20px;margin-bottom:1.25rem;margin-top:1.25rem;font-size:24px;line-height:28px;font-weight:300;line-height:1.75rem;padding-bottom:2.3632px;padding-top:2.3632px;color:#1b1b1b;font-size:1.5rem;font-weight:600;padding:0;margin-top:16px;margin-bottom:12px;font-family:"Segoe UI","Helvetica Neue","Lucida Grande","Roboto","Ebrima","Nirmala UI","Gadugi","Segoe Xbox Symbol","Segoe UI Symbol","Meiryo UI","Khmer UI","Tunga","Lao UI","Raavi","Iskoola Pota","Latha","Leelawadee","Microsoft YaHei UI","Microsoft JhengHei UI","Malgun Gothic","Estrangelo Edessa","Microsoft Himalaya","Microsoft New Tai Lue","Microsoft PhagsPa","Microsoft Tai Le","Microsoft Yi Baiti","Mongolian Baiti","MV Boli","Myanmar Text","Cambria Math";}
.pagination-view{position:relative;min-height:206px;}
.pagination-view.has-identity-banner{min-height:170px;}
.lightbox-cover{background-color:#fff;opacity:0;filter:alpha(opacity=0);z-index:-1;height:100%;width:100%;position:absolute;top:0;left:0;transition:all .5s ease-in;-o-transition:all .5s ease-in;-moz-transition:all .5s ease-in;-webkit-transition:all .5s ease-in;}
@media (-ms-high-contrast){
.button,input[type='submit']{-ms-high-contrast-adjust:none;outline:1px solid windowText;border:1px solid window;background-color:window;color:windowText;text-decoration:none;}
.button:hover,input[type='submit']:hover{outline:1px solid windowText;border:1px solid highlight;background-color:highlight;color:highlightText;text-decoration:none;}
.button:hover:focus,input[type='submit']:hover:focus{outline:1px solid windowText;border:1px solid windowText;background-color:highlight;color:highlightText;text-decoration:underline;}
.button:focus,input[type='submit']:focus{outline:1px solid windowText;border:1px solid windowText;background-color:window;color:windowText;text-decoration:underline;}
.button.primary,input[type='submit'].primary{outline:1px solid highlight;border:1px solid highlight;background-color:highlight;color:highlightText;text-decoration:none;}
.button.primary:hover,input[type='submit'].primary:hover{outline:1px solid highlight;border:1px solid window;background-color:window;color:highlight;text-decoration:none;}
.button.primary:hover:focus,input[type='submit'].primary:hover:focus{outline:1px solid windowText;border:1px solid window;background-color:window;color:highlight;text-decoration:underline;}
.button.primary:focus,input[type='submit'].primary:focus{outline:1px solid windowText;border:1px solid window;background-color:highlight;color:highlightText;text-decoration:underline;}
}
.fade-in-lightbox{animation:fadeIn .3s ease-in;-webkit-animation:fadeIn .3s ease-in;-moz-animation:fadeIn .3s ease-in;-ms-animation:fadeIn .3s ease-in;-o-animation:fadeIn .3s ease-in;}
.animate{animation-duration:.25s;-webkit-animation-duration:.25s;-moz-animation-duration:.25s;-ms-animation-duration:.25s;-o-animation-duration:.25s;animation-timing-function:cubic-bezier(.5,0,.5,1);-webkit-animation-timing-function:cubic-bezier(.5,0,.5,1);-moz-animation-timing-function:cubic-bezier(.5,0,.5,1);-ms-animation-timing-function:cubic-bezier(.5,0,.5,1);-o-animation-timing-function:cubic-bezier(.5,0,.5,1);animation-fill-mode:both;-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;transition-property:left;-webkit-transition-property:left;-moz-transition-property:left;-ms-transition-property:left;-o-transition-property:left;}
html[dir=ltr] .animate.slide-in-next{animation-name:show-from-right;-webkit-animation-name:show-from-right;-moz-animation-name:show-from-right;-ms-animation-name:show-from-right;-o-animation-name:show-from-right;}
/*! CSS Used from: Embedded */
body{display:none;}
/*! CSS Used from: Embedded */
body{display:block!important;}
/*! CSS Used from: Embedded */
.sign-in-box{min-width:0;}
/*! CSS Used from: Embedded */
.sign-in-box{min-width:0;}
/*! CSS Used from: Embedded */
.sign-in-box{min-width:0;}
/*! CSS Used keyframes */
@keyframes fadeIn{from{opacity:0;}to{opacity:1;}}
@-o-keyframes fadeIn{from{opacity:0;}to{opacity:1;}}
@-moz-keyframes fadeIn{from{opacity:0;}to{opacity:1;}}
@-webkit-keyframes fadeIn{from{opacity:0;}to{opacity:1;}}
@keyframes show-from-right{from{left:200px;opacity:0;}to{left:0;opacity:1;}}
@-webkit-keyframes show-from-right{from{left:200px;opacity:0;}to{left:0;opacity:1;}}
@-moz-keyframes show-from-right{from{left:200px;opacity:0;}to{left:0;opacity:1;}}
@-ms-keyframes show-from-right{from{left:200px;opacity:0;}to{left:0;opacity:1;}}
@-o-keyframes show-from-right{from{left:200px;opacity:0;}to{left:0;opacity:1;}}
/*! CSS Used fontfaces */
@font-face{font-family:'Segoe UI Webfont';src:local("Segoe UI Light");font-weight:200;font-style:normal;}
@font-face{font-family:'Segoe UI Webfont';src:local("Segoe UI");font-weight:400;font-style:normal;}
@font-face{font-family:'Segoe UI Webfont';src:local("Segoe UI Semibold");font-weight:600;font-style:normal;}
@font-face{font-family:"Segoe UI Webfont";font-weight:300;src:local("Segoe UI Semilight");}
@font-face{font-family:"Segoe UI Webfont";font-weight:700;src:local("Segoe UI Bold");}
@font-face{font-family:"Segoe UI Webfont";font-style:italic;font-weight:400;src:local("Segoe UI Italic");}
@font-face{font-family:"Segoe UI Webfont";font-style:italic;font-weight:700;src:local("Segoe UI Bold Italic");}